
.theme-icon{
  display:flex;
  justify-content: center;
}

.theme-icon > button{
  display:flex;
  align-items: center;
  cursor: pointer;
  padding: 6px 12px;
  border-radius: 4px;
}

.dark-theme, .bg-dark { 
  color: #ccc;
  background-color: #222;
  transition: 0.6s;
}

.todo-container > .bg-dark{
  border: 1px solid #fff;
}

.dark-theme:hover{
  background-color: #111;
  color: #fff;
}

.light-theme, .bg-light{
  color: #222;
  background-color: #ccc;
  transition: 0.6s;
}



.light-theme:hover{
  color: #000;
  background-color: #bbb;
}


.theme-icon > button > svg{
  width: 26px;
  height: 26px;
}

.container{
  width:100%;
  height:100%;
  position: absolute;
  top: 0;
  left: 0;
}

/* USERNAME */
.user-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  row-gap: 10px;
}
.user-container > input {
  width: 300px;
  padding: 8px;
  font-size: 16px;
  border:1px solid #222;
  border-radius: 4px;
}
.user-container > button {
  width: 318px;
  padding: 6px;
  font-size: 18px;
  border: 1px solid #222;
  cursor: pointer;
  border-radius: 4px;
  background-color: cornflowerblue;
  color:#ffd
}